.search {
  padding: 0.5rem;
  border: 1px solid $grey;
  color: $off-black;
  margin-bottom: 30px;
  width: 80%;
  border-radius: 5px;

  align-self: center;

  font-family: inherit;
  font-size: inherit;

  &__label {
    align-self: center;
    width: 80%;
    margin-bottom: 0.5rem;
    color: $grey-dark;
  }
}
